.Rproj.user
.Rhistory
.RData
.Ruserdata

# Project files
*.png
*.csv
!data/*.csv
!figs/*.png
go.mod
go.sum
main.go
cmd/fetch.go
cmd/root.go
cmd/sync.go
pkg/database/bigquery.go
pkg/database/database.go
pkg/database/sqlite.go
pkg/report/course.go
pkg/report/department.go
pkg/report/report.go
pkg/scrape/common.go
pkg/scrape/course.go
pkg/scrape/department.go
pkg/scrape/isq.go
pkg/scrape/schedule.go
